/* Write your CSS here */
.match-details-container {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.teams-matches-details-container {
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.team-banner {
  height: 300px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .team-banner {
    height: 500px;
  }
}

.recent-teams-list-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0px;
  margin: 0px;
}

.rcb {
  background-color: #a4261d;
}

.kkr {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #5755a7;
}

.kxp {
  background-color: #d91c1f;
}

.csk {
  background-color: #f7db00;
}

.rr {
  background-color: #da237b;
}

.mi {
  background-color: #13418b;
}

.srh {
  background-color: #f26d22;
}

.dc {
  background-color: #4f5db0;
}
